{% extends 'layout.html' %}
{% block body %}
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  {% for cartItem in cart %}
  <tr>
    <td>{{cartItem[1][0]}}</td>
    <td>{{cartItem[1][1]}}</td>
    <td>{{cartItem[1][2]}}</td>
  </tr>
  {% endfor %}
</table>
  <a class="btn btn-success" href="/placeOrder/{{ cart['cart_id'] }}" align="centre">Total = {{totalPrice}}<br>Place Order</a>
  {% endblock %}



    <!-- <td><a href="edit_article/{{article.id}}" class="btn btn-default pullright">Edit</a></td>
    <td>
      <form action="{{url_for('delete_article', id=article.id)}}" method="post">
        <input type="hidden" name=" method" value="DELETE">
        <input type="submit" value="Delete" class="btn btn-danger">
      </form>
    </td>
  </tr>



  <small>Product ID: {{cartItem.product_id}}</small>
  <br>
  <small>Quantity: {{cartItem.quantity}}</small>
  <hr>
  <a class="btn btn-success" href="/placeOrder/{{ cart['cart_id'] }}" align="centre">Place Order</a>
